{% extends 'base.html' %}

{% block title %}Home - SamQuiz{% endblock %}

{% block content %}
<div class="hero-section">
    <div>
        <h1>Welcome to Our Quiz App </h1>
        <h5>{% if current_user.is_authenticated %}
            Hello, {{ current_user.username }}!
        {% else %}
            Hello, Guest!
        {% endif %}</h5>
        <div class="captionbox">
           
            <p class="caption">Test your knowledge and have fun with our interactive quizzes!</p>
        </div>
        
        <div class="quickGeneral">
            <a class="general" value ="9" href="{{ url_for('quiz', category_id=9) }}">Try General Quiz</a>
        </div>
    </div>
    <div>
        <img src="{{ url_for('static', filename='images/question.png') }}" alt="Quiz Image">
    </div>
</div>

<div id="categories" class="catBox">
    <div class="CategoryNames"><h2>Choose the category of Questions!</h2></div>
    <hr>
    <br>
    <div class="categorylist">
        <div class="category"><a class="categoryname" href="{{ url_for('quiz', category_id=17) }}">Nature</a></div>
        <div class="category"><a class="categoryname" href="{{ url_for('quiz', category_id=18) }}">Computers</a></div>
        <div class="category"><a class="categoryname" href="{{ url_for('quiz', category_id=19) }}">Mathematics</a></div>
        <div class="category"><a class="categoryname" href="{{ url_for('quiz', category_id=22) }}">Geography</a></div>
        <div class="category"><a class="categoryname" href="{{ url_for('quiz', category_id=23) }}">History</a></div>
        <div class="category"><a class="categoryname" href="{{ url_for('quiz', category_id=25) }}">Art</a></div>
        <div class="category"><a class="categoryname" href="{{ url_for('quiz', category_id=12) }}">Music</a></div>
        <div class="category"><a class="categoryname" href="{{ url_for('quiz', category_id=13) }}">Musicals & Theatres</a></div>
        <div class="category"><a class="categoryname" href="{{ url_for('quiz', category_id=28) }}">Automobiles</a></div>
        <div class="category"><a class="categoryname" href="{{ url_for('quiz', category_id=32) }}">Cartoon & Animations</a></div>
        <div class="category"><a class="categoryname" href="{{ url_for('quiz', category_id=27) }}">Animals</a></div>
        <div class="category"><a class="categoryname" href="{{ url_for('quiz', category_id=21) }}">Sports</a></div>
    </div>
</div>

<div class="leaderboard-btn">
    <a class="general" href="{{ url_for('leaderboard') }}">Go to leaderboard</a>
</div>
{% endblock %}


<!-- General Knowledge - ID: 9 -->
<!-- Entertainment: Books - ID: 10 -->
<!-- Entertainment: Film - ID: 11 -->
<!-- Entertainment: Music - ID: 12 -->
<!-- Entertainment: Musicals & Theatres - ID: 13 -->
<!-- Entertainment: Television - ID: 14 -->
<!-- Entertainment: Video Games - ID: 15 -->
<!-- Entertainment: Board Games - ID: 16 -->
<!-- Science & Nature - ID: 17
Science: Computers - ID: 18
Science: Mathematics - ID: 19 -->
<!-- Mythology - ID: 20 -->
<!-- Sports - ID: 21 -->
<!-- Geography - ID: 22 -->
<!-- History - ID: 23 -->
<!-- Politics - ID: 24 -->
<!-- Art - ID: 25 -->
<!-- Celebrities - ID: 26 -->
<!-- Animals - ID: 27 -->
<!-- Vehicles - ID: 28 -->
<!-- Entertainment: Comics - ID: 29 -->
<!-- Science: Gadgets - ID: 30 -->
<!-- Entertainment: Japanese Anime & Manga - ID: 31 -->
<!-- Entertainment: Cartoon & Animations - ID: 32 -->