<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SamQuiz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
   <div class="container">
    <h1>Quiz App</h1>
    <hr>
    <h2>1.What is your name</h2>
    <ul>
        <li><button>a.sammmeee</button></li>
        <li><button>b.sameme</button></li>
        <li><button>c.anmmncidi</button></li>
        <li><button>d.lathuksa</button></li>
        
    </ul>
    <div class ="previewbox">
        <button class ="nextbtn">Next</button>
        <button class ="Quitbtn">Quit</button>
    </div>
    <hr>
    <div class="index">1 of 5 Questions</div>
   </div>
</body>
</html>